[Unit]
Description=EMUC-B202 CAN Bus SocketCAN daemon and interfaces
# We need to wait until /dev/ttyCAN0 comes online, see udev rule for details
BindsTo=dev-ttyCAN0.device
After=dev-ttyCAN0.device

[Service]
# emucd daemonizes itself (i.e. forks)
Type=forking
# Load Environment variables for speed
EnvironmentFile=/etc/default/emuccan
ExecStart=/usr/bin/emucd_64 -s${EMUCCAN_SPEED} /dev/ttyCAN0 can0 can1
ExecStartPost=/sbin/ip link set can0 up qlen 1000
ExecStartPost=/sbin/ip link set can1 up qlen 1000
ExecStop=/usr/bin/pkill -2 emucd_64
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
